[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.x.cfg

package-name = ploneintranet.docconv.client
package-extras = [test]
versions = versions
develop =

parts +=
    omelette
    scripts
    flake8

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:package-name} [test,develop]

[flake8]
recipe = zc.recipe.egg
eggs = flake8
       ${instance:eggs}
entry-points =
    flake8=flake8.run:main
